---
import BaseLayout from '../layouts/BaseLayout.astro';
import Layout from '../components/Layout.astro';
---
<BaseLayout title="Not Found" pathname="/404">
  <Layout>
    <h1>Not Found</h1>
    <p>You just hit a route that doesn't exist... the sadness.</p>
  </Layout>
</BaseLayout>
