---
import { menu } from '../consts';
interface Props { direction?: 'column' | 'row'; }
const { direction = 'column' } = Astro.props;
---
<div class={`css-menu ${direction}`}>
  {menu.map((item) => (
    <a href={item.href}>
      <i class={`iconfont icon-${item.icon}`}></i>
      {item.name}
    </a>
  ))}
</div>
