---
interface Props { date: string; tags?: string[]; }
const { date, tags } = Astro.props;
---
<div class="css-info">
  <time>{date}</time>
  {tags && tags.map((tag) => (
    <a href={`/tag/${tag}/`}>#{tag}</a>
  ))}
</div>
